<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

</head>
<body>

{{# if u}}

<form action="/updateproduct2" method="post">
    <div id="div2"></div>

    <div class="form-group">
        <label >ProductName</label>
        <input type="text" class="form-control" id="" name="productname" placeholder="ProductName">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{{/if}}


</body>

</html>